@use "../variables"
@use "../utilities"

#zen
  &-summary, &-intro h2
    +utilities.section-mixing("yellow")
  &-participation, &-benefits
    +utilities.section-mixing("white")
  &-preamble, &-explanation, &-requirements, &-resources, &-preamble, &-explanation, &-requirements, &-resources, &-participation, &-benefits
    background: var(--section-background-color)
  &-intro h2
    background-color: var(--section-background-color)
    position: relative
    padding: 2.25rem 0 0
    +utilities.container
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: -400%
      right: 0
      background-color: variables.$color-yellow
      padding: 1rem
      z-index: -1
      height: 100%
      width: 1000%
  &-summary
    padding: 1rem 2rem
    p,h3
      +utilities.container
  &-resources, &-requirements, &-preamble, &-explanation
    +utilities.section-mixing("green")

#design
  &-archives, &-selection
    background: var(--section-background-color)
  &-selection
    +utilities.section-mixing("white")
    padding: 1.5rem 0
  &-archives
    +utilities.section-mixing("green")
    ul
      list-style: none
      margin: 0
      li
        display: inline-block
        margin: 0 0.5rem
        a
          +utilities.create-property("link__color", #black)
          color: var(--link__color)
          &:hover
            color: var(--link__color)
            text-decoration: underline
footer
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap
  align-items: center
  padding: 1rem 0
  gap: 1rem
  +utilities.section-mixing("yellow")
  background: var(--section-background-color)
