@use "../variables"
@use "../utilites"
.page-wrapper
  overflow-x: hidden
#zen-intro h2
  background-color: var(--section-background-color)
  position: relative
  width: 80%
  margin: 0 auto
  padding: 2.25rem 0 0
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    left: -13%
    right: 0
    background-color: variables.$color-yellow
    padding: 1rem
    z-index: -1
    height: 100%
    width: 100lvw
#zen-summary, #zen-intro h2
  +utilites.section-mixing("yellow")
